/**
 * @package 	WordPress
 * @subpackage 	Interior Design
 * @version 	1.0.0
 * 
 * Theme Fonts Rules
 * Created by CMSMasters
 * 
 */


/***************** Start Theme Font Styles ******************/

	/* Start Content Font */
	body, 
	blockquote footer,
	.cmsms_pricing_table .cmsms_currency,
	.cmsms_pricing_table .cmsms_coins,
	.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap,
	.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner .cmsms_counter_counter_wrap, 
	.cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner
	.cmsms_pricing_table .cmsms_period,
	.cmsms_profile .pl_subtitle,
	.cmsms_tabs.lpr .cmsms_tab li,
	.cmsms_stat_counter_wrap,
	.cmsms_profile_subtitle{
		font-family:'Droid Sans', Georgia, Times, 'Century Schoolbook L', serif;
		font-size:16px;
		line-height:26px;
		font-weight:100;
		font-style:italic;
	}
	
	.cmsms_twitter .published {
		height:26px;
		font-size:15px;
	}
	
	.cmsms_quotes_slider.cmsms_quotes_slider_type_center .wrap_quote_title .quote_subtitle {
		font-size:18px;
	}
	
	.post.cmsms_masonry_type .cmsms_post_meta_wrap .cmsms_post_meta_left .cmsms_post_date,
	.widget_custom_contact_form_entries .cmsms-form-builder .cmsms_input.area_opened label {
		font-size:13px;
		line-height:23px;
	}
	
	.post_comments .commentlist .comment-body .comment-content .published,
	.cmsms_profile .pl_subtitle {
		font-size:14px;
	}
	
	.post.cmsms_masonry_type .cmsms_post_cont_info > span,
	.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_cont_info > span,
	.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_cont_info > span a,
	.blog.timeline .post .cmsms_post_info .cmsms_post_date,
	.opened-article .post .cmsms_post_cont .cmsms_post_cont_info .cmsms_post_cont_left .cmsms_post_date abbr,
	.post.cmsms_timeline_type .cmsms_post_comments,
	.post.cmsms_timeline_type .cmsms_post_like a,
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_meta_wrap .cmsms_post_meta_right span > a,
	.post.cmsms_masonry_type .cmsms_post_cont_info > span a {
		font-size:14px;
		line-height:24px;
	}
	
	.cmsms_profile_subtitle,
	.post.cmsms_default_type .cmsms_post_content,
	.cmsms_archive .project.cmsms_default_type .cmsms_post_cont .cmsms_post_content {
		font-size:18px;
		line-height:28px;
	}
	
	.post.cmsms_masonry_type .cmsms_post_content,
	.post.cmsms_timeline_type .cmsms_post_content,
	.widget_custom_contact_form_entries .submit_wrap a.button,
	.widget_custom_contact_form_entries .cmsms-form-builder label {
		font-size:15px;
		line-height:25px;
	}
	
	.cmsms_pricing_table .cmsms_currency,
	.cmsms_pricing_table .cmsms_coins {
		font-size:26px;
		line-height:36px;
	}
	
	.cmsms_pricing_table .cmsms_period,
	.comment-content > p,
	.profile_sidebar .profile_details,
	.project_sidebar .project_details_item,
	.details_item_desc_comments a,
	.details_item_desc_like a,
	.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_head_right > a {
		font-size:15px;
		line-height:26px;
	}
	
	blockquote footer,
	.details_item_desc_like a:before {
		font-size:18px;
		line-height:28px;
	}
	
	.details_item_desc_comments a:before {
		font-size:19px;
	}
	
	.cmsms_breadcrumbs, 
	.cmsms_breadcrumbs .cmsms_breadcrumbs_inner, 
	.cmsms_breadcrumbs .cmsms_breadcrumbs_inner a {
		font-size:13px;
		line-height:22px;
	}
	
	.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner .cmsms_counter_counter_wrap {
		font-size:34px;
		line-height:36px;
	}
	
	.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
		font-size:34px;
	}
	
	.cmsms_quotes.quote_grid .quote_subtitle,
	.cmsms_quotes.cmsms_quotes_slider .quote_subtitle {
		font-size:15px;
	}
	
	.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle .cmsms_toggle_inner {
		line-height:33px;
	}
	
	.cmsms_tabs_wrap {
		font-size:18px;
		line-height:38px;
	}
	
	.cmsms_tabs.lpr .cmsms_tabs_wrap {
		line-height:26px;
	}
	
	q {
		font-size:16px;
	}
	
	.cmsms_posts_slider .post .cmsms_slider_post_quote_author, 
	.widget_nav_menu ul ul li a, 
	.widget_nav_menu ul ul ul li a, 
	.widget_nav_menu ul ul ul ul li a, 
	.widget_nav_menu ul ul ul ul ul li a, 
	#wp-calendar th, 
	#wp-calendar td,
	.sidebar aside { 
		font-size:15px;
	}
	
	.cmsms_wrap_pagination ul li .cmsms_theme_icon_slide_prev, 
	.cmsms_wrap_pagination ul li .cmsms_theme_icon_slide_next {
		font-size:14px;
	}
	
	.cmsms_post_filter_but:before, 
	.cmsms_project_filter_but:before, 
	.cmsms_project_sort_but:before {
		font-size:13px;
	}
	
	.cmsms_post_filter_but:before, 
	.cmsms_project_filter_but:before {
		width:18px !important;
	}
	
	.cmsms_twitter abbr, 
	.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li li > a, 
	.cmsms_sitemap_wrap .cmsms_sitemap_category > li li > a, 
	.cmsms_sitemap_wrap .cmsms_sitemap_archive li, 
	.cmsms_sitemap_wrap .cmsms_sitemap_archive li > a {
		font-weight:700; /* static */
	}
	
	q, 
	.contact_widget_name.cmsms_theme_icon_person:before, 
	.contact_widget_email.cmsms_theme_icon_user_mail:before, 
	.contact_widget_phone.cmsms_theme_icon_user_phone:before, 
	.adress_wrap.cmsms_theme_icon_user_address:before, 
	.cmsms_post_filter_but:before, 
	.cmsms_project_filter_but:before, 
	.cmsms_project_sort_but:before {
		line-height:26px !important;
	}
	
	.details_item_desc_like,
	.details_item_desc_comments, 
	.campaign .cmsms_campaign_meta_info {
		height:26px;
	}
	/* Finish Content Font */


	/* Start Link Font */
	a,
	.cmsms_slider_post_more .cmsms_post_read_more,
	.widget_nav_menu > div > ul > li > ul > li > a,
	.widget_nav_menu > div > ul > li > ul > li > ul > li > a,
	.widget_nav_menu > div > ul > li > ul > li > ul > li > ul > li > a,
	.widget_nav_menu ul ul ul ul ul li a,
	.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item > a,
	.cmsms_tabs.lpr .cmsms_tabs_wrap a,
	.cmsms_archive .project.cmsms_default_type .cmsms_post_cont .cmsms_post_cont_info > span a{
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_slider_post_more .cmsms_post_read_more,
	.portfolio .project .project_outer .project_inner .cmsms_project_footer a,
	.cmsms_tabs.lpr .cmsms_tabs_wrap a,
	.pj_ddn .cmsms_project_category a,
	.cmsms_tabs.lpr .cmsms_tab li p {
		font-size:12px;
		line-height:18px;
	}
	
	.widget ul li a {
		font-size:13px;
		line-height:19px;
	}	
	
	.widget_pages ul li a:before,
	.widget_categories ul li a:before {
		top:7.5px;
	}
	
	.cmsmsLike:before, 
	.cmsms_post_comments:before {
		font-size:16px;
		line-height:20px;
		
	}
	
	.portfolio.puzzle .project .project_outer .project_inner .cmsms_project_footer .cmsms_post_comments:before,
	.portfolio.puzzle .project .project_outer .project_inner .cmsms_project_footer .cmsmsLike:before {
		font-size:14px;
	}
	
	.pj_ddn .cmsms_project_category, 
	.widget .cmsmsLike,
	.widget_nav_menu > div > ul > li > ul > li > a,
	.widget_nav_menu > div > ul > li > ul > li > ul > li > a,
	.widget_nav_menu > div > ul > li > ul > li > ul > li > ul > li > a,
	.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item > a {
		font-size:13px;
		line-height:19px;
	}
	
	.widget .widget_custom_twitter_entries .tweet_list a {
		font-weight:300;
	}

	a:hover {
		text-decoration:none;
	}
	/* Finish Link Font */


	/* Start Navigation Title Font */
	#navigation > li > a {
		font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:500;
		font-style:normal;
		text-transform:none;
	}
	
	#header .header_mid_inner #navigation li.menu-item-has-children > span.cmsms_cross,
	#header .header_side_inner #navigation li.menu-item-has-children > span.cmsms_cross {
		height:20px;
		width:20px;
	}
	
	#navigation > li > a > span:before {
		font-size:12px;
	}
	
	#navigation > li.menu-item-icon > a > span > span.nav_subtitle,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-icon > a > span > span.nav_subtitle {
		padding-left:24px;
	}
	
	body.rtl #navigation > li.menu-item-icon > a > span > span.nav_subtitle,
	body.rtl #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-icon > a > span > span.nav_subtitle {
		padding-right:24px;
		padding-left:0; /* static */
	}
	
	#navigation > li > a[data-tag]:before,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a[data-tag]:before {
		margin-top:1px;
	}
	
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a {
		font-weight:700; /* static */
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header nav #navigation li a {
			font-size:13px;
			font-weight:400; /* static */
		}
		
		html #page #header nav #navigation > li > a {
			font-weight:500; /* static */
		}
		
		html #page #header nav #navigation li li li a {
			font-size:12px;
		}
		
		html #page #header nav #navigation > li.menu-item-hide-text > a > span,
		html #page #header nav #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-hide-text > a > span {
			font-size:14px;
			line-height:20px;
		}
		
		html #page #header nav #navigation > li.menu-item-icon > a > span > span.nav_subtitle,
		html #page #header nav #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-icon > a > span > span.nav_subtitle {
			padding-left:24px;
		}
	}
	/* Finish Navigation Title Font */


	/* Start Navigation Dropdown Font */
	#navigation ul li a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:400;
		font-style:normal;
		text-transform:none;
	}
	
	#navigation > li > a > span > span.nav_subtitle,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a > span > span.nav_subtitle, 
	#navigation li > a[data-tag]:before {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:10px;
		line-height:17px;
		font-style:normal;
		text-transform:none;
		font-weight:300; /* static */
	}
	
	#navigation > li > a > span > span.nav_subtitle {
		font-size:13px;
		line-height:13px;
		font-weight:400; /* static */
	}
	
	#navigation ul li a span:before {
		font-size:16px;
	}
	
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a > span:before {
		font-size:17px;
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header nav #navigation > li.menu-item-hide-text > a > span > span.nav_subtitle,
		html #page #header nav #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-hide-text > a > span > span.nav_subtitle {
			font-size:11px;
			line-height:18px;
		}
	}
	/* Finish Navigation Dropdown Font */


	/* Start H1 Font */
	h1,
	h1 a,
	#header .logo .title,
	.cmsms_pricing_table .cmsms_price {
		font-family:'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', Garuda, sans-serif;
		font-size:80px;
		line-height:90px;
		font-weight:100;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	
	
	.cmsms_twitter .published {
		font-family:'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', Garuda, sans-serif;
		font-weight:100;
	}
	
	.error .error_title {
		font-size:280px;
		line-height:290px;
	}
	
	.cmsms_dropcap {
		font-family:'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', Garuda, sans-serif;
		font-weight:100;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	
	.cmsms_icon_list_items.cmsms_icon_list_icon_type_number .cmsms_icon_list_item .cmsms_icon_list_icon:before,
	.cmsms_icon_box.box_icon_type_number:before,
	.cmsms_icon_box.cmsms_icon_heading_left.box_icon_type_number .icon_box_heading:before {
		font-family:'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', Garuda, sans-serif;
		font-weight:100;
		font-style:normal;
	}
	
	.cmsms_dropcap.type1 {
		font-size:40px; /* static */
	}
	
	.cmsms_dropcap.type2 {
		font-size:25px; /* static */
	}
	
	.headline_outer .headline_inner .headline_icon:before {
		font-size:84px;
		line-height:100px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon:before {
		font-size:104px;
		line-height:110px;
	}
	
	.headline_outer .headline_inner.align_left .headline_icon {
		padding-left:130px;
	}
	
	.headline_outer .headline_inner.align_right .headline_icon {
		padding-right:130px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon {
		padding-top:120px;
	}
	
	.cmsms_pricing_table .cmsms_price {
		line-height:60px;
	}
	
	.cmsms_pricing_table .cmsms_price {
		font-size:72px;
	}
	
	.cmsms_pricing_table .cmsms_pricing_item_inner:before, 
	.cmsms_profile.horizontal .profile:before {
		width:168px;
		margin-left:-84px;
	}
	
	.cmsms_profile.vertical .profile:before {
		height:160px;
		margin-top:-80px;
	}
	
	.cmsms_twitter .owl-buttons span:before {
		line-height:43px;
	}
	
	.cmsms_twitter .owl-buttons > div, 
	.cmsms_twitter .owl-buttons span, 
	.cmsms_twitter .owl-buttons span:before {
		width:30px;
		height:37px;
	}
	
	.cmsms_twitter .owl-buttons {
		margin-top:-43px;
	}
	
	.cmsms_quotes_slider.cmsms_quotes_slider_type_box .owl-buttons span:before {
		font-size:14px;
		line-height:35px;
	}
	
	.cmsms_quotes_slider.cmsms_quotes_slider_type_box .owl-buttons > div, 
	.cmsms_quotes_slider.cmsms_quotes_slider_type_box .owl-buttons span, 
	.cmsms_quotes_slider.cmsms_quotes_slider_type_box .owl-buttons span:before {
		width:33px;
		height:36px;
	}
	
	
	@media only screen and (max-width: 950px) {
		h1,
		h1 a {
			font-size:60px;
			line-height:70px;
		}
	}
	
	@media only screen and (max-width: 767px) {
		h1,
		h1 a {
			font-size:50px;
			line-height:60px;
		}
	}
	
	@media only screen and (max-width: 600px) {
		h1,
		h1 a {
			font-size:40px;
			line-height:50px;
		}
		
		.error .error_title {
			font-size:230px;
			line-height:240px;
		}
	}
	
	@media only screen and (max-width: 540px) {
		h1,
		h1 a {
			font-size:30px;
			line-height:40px;
		}
		
		.error .error_title {
			font-size:150px;
			line-height:160px;
		}
	}
	
	@media only screen and (max-width: 320px) {
		h1,
		h1 a {
			font-size:20px;
			line-height:30px;
		}
		
		.error .error_title {
			font-size:130px;
			line-height:140px;
		}
	}
	
	
	/* Finish H1 Font */


	/* Start H2 Font */
	h2,
	h2 a,
	.cmsms_search_post_number {
		font-family:'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', Garuda, sans-serif;
		font-size:30px;
		line-height:36px;
		font-weight:100;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	
	.post .cmsms_post_format_img:before {
		font-size:30px;
	}
	
	
	.post .cmsms_post_format_img:before {
		line-height:36px;
	}
	
	.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
		line-height:60px; /* static */
	}
	
	.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner:before {
		font-size:29px;
		line-height:30px;
	}
	
	.cmsms_counters.counters_type_horizontal .cmsms_counter_wrap .cmsms_counter.counter_has_icon .cmsms_counter_inner {
		padding-left:50px;
	}
	
	.post .cmsms_post_cont .cmsms_post_title:before {
		height:30px;
		margin-top:3px;
	}
	
	@media only screen and (max-width: 540px) {
		h2,
		h2 a {
			font-size:25px;
			line-height:31px;
		}
	}
	
	@media only screen and (max-width: 320px) {
		h2,
		h2 a {
			font-size:20px;
			line-height:26px;
		}
	}
	
	/* Finish H2 Font */


	/* Start H3 Font */
	h3,
	h3 a,
	.cmsms_sitemap_wrap .cmsms_sitemap > li > a,
	.cmsms_post_info .cmsms_post_date .cmsms_year {
		font-family:'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', Garuda, sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:100;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	
	.cmsms_quotes_slider.cmsms_quotes_slider_type_center .quote_content {
		line-height:39px;
	}
	
	.sidebar aside h3 {
		font-size:16px;
	}
	
	.cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
		font-size:24px;
		line-height:36px;
	}
	
	.post .cmsms_post_format_img:before,
	.cmsms_quotes_slider.cmsms_quotes_slider_type_center .quote_content {
		font-size:24px;
	}
	
	.post.cmsms_timeline_type .cmsms_post_format_img:before, 
	.bypostauthor > .comment-body .alignleft:before {
		font-size:24px;
	}
	
	.post_nav > span:before {
		font-size:30px;
	}
	
	.post.cmsms_timeline_type .cmsms_post_format_img:before, 
	.post_nav > span:before, 
	.bypostauthor > .comment-body .alignleft:before, 
	.widget .owl-buttons span:before {
		line-height:30px;
	}
	
	.portfolio .project .project_outer .project_inner .cmsms_project_header .cmsms_project_title, 
	.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_header .cmsms_slider_project_title {
		line-height:28px;
	}
	
	.cmsms_post_info .cmsms_post_date .cmsms_year {
		font-size:22px;
		line-height:24px;
	}
	
	.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_title:before {
		height:24px;
		margin-top:3px;
	}
	
	.bypostauthor > .comment-body .alignleft:before {
		width:30px;
	}
	
	.bypostauthor > .comment-body .alignleft:before {
		height:30px;
	}
	
	.blog.timeline .post .cmsms_post_info {
		width:140px;
		height:30px;
	}
	
	.blog.timeline .post.cmsms_timeline_left .cmsms_post_info {
		right:-70px;
	}
	
	.blog.timeline .post.cmsms_timeline_right .cmsms_post_info {
		left:-70px;
	}
	
	@media only screen and (max-width: 540px) {
		.cmsms_quotes_slider.cmsms_quotes_slider_type_center .quote_content {
			font-size:20px;
			line-height:30px;
		}
	}
	
	/* Finish H3 Font */


	/* Start H4 Font */
	h4, 
	h4 a {
		font-family:'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', Garuda, sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:100;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	
	.pj_ddn .cmsmsLike, 
	.pj_ddn .cmsmsLike:before {
		line-height:22px !important;
	}
	
	.post.cmsms_masonry_type .cmsms_post_format_img:before, 
	.post.cmsms_puzzle_type .cmsms_post_format_img:before{
		font-size:24px;
		line-height:30px;
	}

	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_title:before, 
	.post.cmsms_puzzle_type .cmsms_post_cont .cmsms_post_title:before {
		height:24px;
		margin-top:3px;
	}

	/* Finish H4 Font */


	/* Start H5 Font */
	h5,
	h5 a, 
	#reply-title.comment-reply-title,
	.cmsms_stats .cmsms_stat_wrap .cmsms_stat_title, 
	.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap, 
	.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner .cmsms_counter_title, 
	.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a, 
	.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > a, 
	.cmsms_sitemap_wrap .cmsms_sitemap_category > li > a,
	.post_nav > span, 
	.post_nav > span a,
	.cmsms_twitter .cmsms_twitter_item_content,
	.cmsms_twitter .cmsms_twitter_item_content a,
	.post_nav > span a, 
	.cmsms_quotes h6.quote_title,  
	.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > a {
		font-family:'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', Garuda, sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:100;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	
	.about_author .about_author_inner .vcard.author {
		font-size:18px;
	}
	
	.widget .owl-buttons span:before {
		font-size:15px;
		line-height:15px;
	}
	
	.widget .owl-buttons span {
		width:10px;
		height:22px;
	}
	
	.post_nav > span a {
		line-height:24px;
	}
	
	.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > a {
		line-height:26px; /* static */
	}
	
	.cmsms_quotes.quote_grid .quote_content,
	.cmsms_quotes.quote_grid .quote_content blockquote,
	.cmsms_quotes_slider.cmsms_quotes_slider_type_box .quote_content blockquote,
	.cmsms_quotes_slider.cmsms_quotes_slider_type_box .quote_content {
		font-size:18px;
		line-height:32px;
	}
	/* Finish H5 Font */


	/* Start H6 Font */
	h6,
	h6 a,
	.image-attachment .edit-link a,
	.share_posts .share_posts_inner a,
	table.shop_attributes th, 
	.post .cmsms_post_cont .cmsms_post_more_but .cmsms_post_read_more,
	fieldset legend,
	blockquote footer,
	.cmsms_post_info .cmsms_post_date .cmsms_day_mon, 
	table caption, 
	table th, 
	.cmsms_img .cmsms_img_caption,
	.gallery .gallery-item .gallery-caption,
	.cmsms_gallery li.cmsms_caption figcaption,
	.wp-caption .wp-caption-text,
	table th a, 
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_more a,
	.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_more a,
	.cmsms_table tr.cmsms_table_row_header, 
	.cmsms_table tr.cmsms_table_row_header a, 
	.cmsms_table tr.cmsms_table_row_footer td, 
	.cmsms_table tr.cmsms_table_row_footer, 
	.cmsms_table tr.cmsms_table_row_footer a, 
	.profile_sidebar .profile_details .profile_details_item_title,
	.profile_sidebar .profile_features .profile_features_item_title,
	.project_sidebar .project_features .project_features_item_title,
	.project_sidebar .project_details .project_details_item_title,
	.comment-edit-link, 
	.tweet_time,
	.comment-reply-link, 
	#cancel-comment-reply-link, 
	.related_posts_tabs_campaign .cmsms_stats .cmsms_stat_wrap .cmsms_stat_title, 
	.related_posts_tabs_campaign .cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap, 
	.cmsms_search_post .cmsms_search_post_number_wrap .cmsms_post_type_label {
		font-family:'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', Garuda, sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:100;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	
	table caption, 
	table th, 
	table th a, 
	.cmsms_table tr.cmsms_table_row_footer td, 
	.cmsms_table tr.cmsms_table_row_header, 
	.cmsms_table tr.cmsms_table_row_header a, 
	.cmsms_table tr.cmsms_table_row_footer, 
	.comment-reply-link, 
	#cancel-comment-reply-link,
	.cmsms_table tr.cmsms_table_row_footer a {
		font-size:12px;
	}
	
	.comment-edit-link {
		font-size:10px;
	}
	
	.post.cmsms_masonry_type .cmsms_post_header .cmsms_post_subtitle, 
	.post.cmsms_timeline_type .cmsms_post_header .cmsms_post_subtitle, 
	.profile_sidebar .profile_details .profile_details_item_title, 
	.post.cmsms_puzzle_type .cmsms_post_header .cmsms_post_subtitle,
	.profile_sidebar .profile_features .profile_features_item_title,
	.profile_sidebar .profile_features .profile_features_item_desc,
	.project_sidebar .project_features .project_features_item_title,
	.project_sidebar .project_features .project_features_item_desc,
	.project_sidebar .project_details .project_details_item_title,
	.cmsms_img .cmsms_img_caption,
	.gallery .gallery-item .gallery-caption,
	.cmsms_gallery li.cmsms_caption figcaption,
	.wp-caption .wp-caption-text,
	.tweet_time {
		font-size:15px;
	}
	
	.cmsms_post_info .cmsms_post_date .cmsms_day_mon, 
	.cmsms_search_post .cmsms_search_post_number_wrap .cmsms_post_type_label {
		font-size:12px;
		line-height:14px;
	}
	
	.cmsms_quotes.cmsms_quotes_slider.cmsms_quotes_slider_type_center h6.quote_title {
		font-size:20px;
	}
	
	.post .cmsms_slider_post_header .cmsms_slider_post_subtitle {
		font-weight:400; /* static */
	}
	
	.post .cmsms_post_header .cmsms_post_subtitle, 
	.cmsms_search_post .cmsms_search_post_number_wrap .cmsms_post_type_label {
		text-transform:uppercase; /* static */
	}
	
	#cancel-comment-reply-link {
		line-height:30px;
	}
	
	
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_more a,
	.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_more a {
		font-size:12px;
		line-height:18px;
	}
	
	/* Finish H6 Font */


	/* Start Button Font */
	input[type=submit], 
	input[type=button], 
	button, 
	.cmsms_button,
	.button,
	.cmsms_search_post_cont_info, 
	.cmsms_search_post_cont_info a {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:20px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
	}
	
	.gform_wrapper .gform_footer input.button, 
	.gform_wrapper .gform_footer input[type=submit] {
		font-size:15px !important;
	}
	
	.cmsms_post_filter_list li a,
	.cmsms_project_filter_list li a {
		font-size:16px;
		line-height:21px;
	}
	
	.cmsms_posts_slider .cmsms_slider_post_header .cmsms_slider_post_subtitle,
	.cmsms_search_post_cont_info, 
	.cmsms_search_post_cont_info a {
		font-size:13px;
		line-height:19px;
	}
	
	
	.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item > a {
		line-height:16px;
	}
	
	.cmsms_button.cmsms_but_icon_dark_bg, 
	.cmsms_button.cmsms_but_icon_light_bg, 
	.cmsms_button.cmsms_but_icon_divider, 
	.cmsms_button.cmsms_but_icon_inverse {
		padding-left:40px;
	}
	
	.cmsms_button.cmsms_but_icon_dark_bg:before, 
	.cmsms_button.cmsms_but_icon_light_bg:before, 
	.cmsms_button.cmsms_but_icon_divider:before, 
	.cmsms_button.cmsms_but_icon_inverse:before, 
	.cmsms_button.cmsms_but_icon_dark_bg:after, 
	.cmsms_button.cmsms_but_icon_light_bg:after, 
	.cmsms_button.cmsms_but_icon_divider:after, 
	.cmsms_button.cmsms_but_icon_inverse:after {
		width:20px;
	}
	/* Finish Button Font */


	/* Start Small Text Font */
	small,
	.meta_wrap,
	.meta_wrap a,
	form .formError .formErrorContent,
	.header_top_inner nav > div > ul > li a,
	.header_mid .slogan_wrap_text {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:18px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
	}

	#navigation > li.menu-item-mega > div.menu-item-mega-container ul ul li.menu-item-mega-description span.menu-item-mega-description-container {
		font-size:12px;
		line-height:18px;
	}
	
	.related_posts_tabs_campaign .cmsms_stats .cmsms_stat_wrap .cmsms_stat_subtitle, 
	.related_posts_tabs_campaign .rel_post_content .related_posts_campaign_wrap .related_posts_campaign_togo, 
	.cmsms_posts_slider .cmsms_slider_post_cont_info,
	.cmsms_posts_slider .cmsms_slider_post_cont_info a {
		font-size:13px;
	}
	
	.gform_wrapper .description, 
	.gform_wrapper .gfield_description, 
	.gform_wrapper .gsection_description, 
	.gform_wrapper .instruction {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif !important;
		font-size:12px !important;
		line-height:18px !important;
	}
	
	.meta_wrap > div[class^="cmsms-icon-"]:before,
	.meta_wrap > p[class^="cmsms-icon-"]:before,
	.meta_wrap > span[class^="cmsms-icon-"]:before,
	.meta_wrap > strong[class^="cmsms-icon-"]:before,
	.meta_wrap > div[class*=" cmsms-icon-"]:before,
	.meta_wrap > p[class*=" cmsms-icon-"]:before,
	.meta_wrap > span[class*=" cmsms-icon-"]:before,
	.meta_wrap > strong[class*=" cmsms-icon-"]:before, 
	.meta_wrap > div[class^="cmsms_theme_icon_"]:before,
	.meta_wrap > p[class^="cmsms_theme_icon_"]:before,
	.meta_wrap > span[class^="cmsms_theme_icon_"]:before,
	.meta_wrap > strong[class^="cmsms_theme_icon_"]:before,
	.meta_wrap > div[class*=" cmsms_theme_icon_"]:before,
	.meta_wrap > p[class*=" cmsms_theme_icon_"]:before,
	.meta_wrap > span[class*=" cmsms_theme_icon_"]:before,
	.meta_wrap > strong[class*=" cmsms_theme_icon_"]:before {
		font-size:16px;
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav > li > a {
			font-size:13px;
			font-weight:700; /* static */
		}
	}
	/* Finish Small Text Font */


	/* Start Text Fields Font */
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=number],
	input[type=url],
	input[type=tel],
	input[type=search],
	textarea,
	select,
	option {
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:300;
		font-style:normal;
	}
	
	#header input[type=search] {
		font-size:61px;
		line-height:66px;
		font-weight:600;
	}
	
	.gform_wrapper input[type=text], 
	.gform_wrapper input[type=url], 
	.gform_wrapper input[type=email], 
	.gform_wrapper input[type=tel], 
	.gform_wrapper input[type=number], 
	.gform_wrapper input[type=password], 
	.gform_wrapper textarea, 
	.gform_wrapper select {
		font-size:14px !important;
	}
	/* Finish Text Fields Font */


	/* Start Blockquote Font */
	blockquote,
	q,
	q:before,
	q:after	{
		font-family:'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:40px;
		font-weight:300;
		font-style:normal;
	}
	
	blockquote:before,
	.cmsms_quotes_slider.cmsms_quotes_slider_type_box .quote_content:before,
	.quote_grid .quote_content:before {
		font: 75px/75px Arial, Helvetica, 'Nimbus Sans L', sans-serif; // static
	}
	
	
	
	/* Finish Blockquote Font */

/***************** Finish Theme Font Styles ******************/


